*.cpython-37.pyc
*.pyc
*.log
*.whl
/venv/Include/*
/venv/Lib/*
/venv/Scripts/*
Notes.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
 
# Mac custom attributes file (Desktop Service Store)
.DS_Store
 
# PyCharm files
.idea/

/fre_instance

