arch
bcrypt
blinker
cachelib
certifi
cffi
chardet
click
convertdate
cycler
dnspython
email-validator
fields
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-Session
Flask-SQLAlchemy
Flask-Uploads
Flask-WTF
holidays
idna
itsdangerous
Jinja2
Keras
kiwisolver
korean-lunar-calendar
MarkupSafe
matplotlib
numpy
pdfkit
pandas
pandas-market-calendars
passlib
patsy
Pillow
plotly
pycparser
PyMeeus
pyparsing
python-dateutil
pytz
QuantLib
requests
retrying
scipy
six
SQLAlchemy
statsmodels
tensorflow
texttable
toolz
trading-calendars
urllib3
Werkzeug
WTForms
yahoo_earnings_calendar
yfinance
tqdm
#TA_Lib
TA_Lib-0.4.28-cp311-cp311-win_amd64.whl
pyportfolioopt
scikit-learn
# BeautifulSoup for web crawling
beautifulsoup4

# twitter sentiment analysis
snscrape
nltk
emoji
