{% extends "base.html" %}
{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/ai_build_model">Building Model</a>
        </li>
		<li class="nav-item">
            <a class="nav-link" href="/ai_back_test">Back Testing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/ai_probation_test">Probation Testing</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
    <h3><strong>Best GA Portfolio Probation Test</strong></h3>
		<h5 style="text-align:center"> Best Portfolio Profit/Loss:   ==>  {{ portfolio_profit }} %</h5>
		<h5 style="text-align:center"> Market Profit/Loss:   ==>  {{ spy_profit }} %</h5>
		<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="text-align:center">Symbol</th>
					<th style="text-align:center">Name</th>
					<th style="text-align:center">Sector</th>
					<th style="text-align:center">Weight</th>
					<th style="text-align:center">Open Date</th>
					<th style="text-align:center">Open Price</th>
					<th style="text-align:center">Close Date</th>
					<th style="text-align:center">Close Price</th>
					<th style="text-align:center">Shares</th>
					<th style="text-align:center">Profit/Loss</th>
				</tr>
			</thead>
			<tbody>
				{% for i in range(length) %}
                <tr>
					<td>{{stock_list[i].symbol}}</td>
					<td>{{stock_list[i].name}}</td>
					<td>{{stock_list[i].sector}}</td>
					<td>{{'%0.2f' % stock_list[i].category_pct|float}}</td>
                    <td>{{stock_list[i].probation_test_trade.open_date}}</td>
					<td>{{'%0.2f'| format(stock_list[i].probation_test_trade.open_price)}}</td>
					<td>{{stock_list[i].probation_test_trade.close_date}}</td>
					<td>{{'%0.2f'| format(stock_list[i].probation_test_trade.close_price)}}</td>
					<td>{{stock_list[i].probation_test_trade.shares}}</td>
					<td>{{'%0.2f'| format(stock_list[i].probation_test_trade.profit_loss)}}</td>
                </tr>
             
				{%endfor%}
            </tbody>
			<tfoot>
				<tr>
					<td style="font-weight:bold">Portfolio Profit/Loss</td>
					<td colspan="8"></td>
					<td style="font-weight:bold">{{ profit }}</td>
				</tr>
			</tfoot>
		</table>
		</div>
		<hr>
		
</main>
<br></br>
<br></br>

{% endblock %}