<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>FRE Platform: {% block title %}{% endblock %}</title>
		<link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
		<!--link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"-->
		
		<link href="/static/favicon.ico" rel="icon">
		<link href="/static/styles.css" rel="stylesheet">

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

	</head>

	<body>
		<nav class="navbar navbar-toggleable-md navbar-custom fixed-top navbar-dark border">
			<a class="navbar-brand" href="/"><span class="blue"><b>FRE </b></span><span class="green"><b>Platform</b></span></a>
			<button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar">
				{% if session.user_id %}
					<ul class="navbar-nav mr-auto mt-2">
						<li class="nav-item"><a class="nav-link" href="/">ManualTrading</a></li>
						<li class="nav-item"><a class="nav-link" href="/pair_trade_build_model">StatArb</a></li>
						<li class="nav-item"><a class="nav-link" href="/ai_trading">AITrading</a></li>
						<li class="nav-item"><a class="nav-link" href="/md_sp500">MarketData</a></li>
						<li class="nav-item"><a class="nav-link" href="/history">History</a></li>
					</ul>
					<ul class="navbar-nav ml-auto mt-2">
						<li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
					</ul>
				{% else %}
					<ul class="navbar-nav ml-auto mt-2">
						<li class="nav-item font-weight-bold"><a class="nav-link" href="/register">Register</a></li>
						<li class="nav-item font-weight-bold"><a class="nav-link" href="/login">Log In</a></li>
					</ul>
				{% endif %}
			</div>

		</nav>	 

		{% if get_flashed_messages() %}
			<header>
				<div class="alert alert-primary border text-center" role="alert">
					{{ get_flashed_messages() | join(" ") }}
				</div>
			</header>
		{% endif %}
		
		<div class="container-fluid">
			<div class="row">
				{% block content %} {% endblock %}
			</div>
		</div>

		<footer class="small text-center text-muted">
			Developed by <a href="https://engineering.nyu.edu/academics/departments/finance-and-risk-engineering">NYU FRE Department</a>. View <a href="https://engineering.nyu.edu/academics/departments/finance-and-risk-engineering">NYU FRE Terms of Use</a>.
		</footer>

	</body>
	
</html>