{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <head>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script>

            // if (!(+ document.getElementById('symbol').value))
            // {
            //     alert('Symbol does not exist!!')
            //     return false 
            // }
            
            function quote()
            {
                var url = '/get_quote?symbol=' + document.getElementById('symbol').value;
                $.getJSON(url, function(data) {
                    $('#quote').html('A share of ' + data.name + ' costs $' + data.price + '.');
                    $('#symbol').val('');
                });
            }
            
            
        </script>
        <title>Get Quote</title>
    </head>
    <body>
		<form action="/quote" id="quote" method="post">
            <input id="symbol" name="symbol" placeholder="Symbol" type="text"/>
            <input type="submit" value="Get Quote"/>
        </form>
    </body>

{%endblock%}