{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        
            {% for i in range(length) %}
            
                <tr>
                    <!--call the value from the dictionary-->
                    <!--the double curly parentheses are for jinja-->
                    <td>{{dict['symbol'][i]}}</td>
                    <td>{{dict['name'][i]}}</td>
                    <td>{{dict['shares'][i]}}</td>
                    <td>{{dict['price'][i]}}</td>
                    <td>{{dict['total'][i]}}</td>
                </tr>
                <tr>
                    <!--;,is a place holder-->
                
                </tr>
            {%endfor%}
            
            <tr>
                <td>Cash</td>
                <td colspan="3"></td>
                <td>{{cash}}</td>
            </tr>
        </tbody>
		<tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}