{% extends "base.html" %}
{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/pair_trade_build_model">Building Model</a>
        </li>
		<li class="nav-item">
            <a class="nav-link" href="/pair_trade_back_test">Back Testing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/pair_trade_probation_test">Probation Testing</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
	<h3>Start Probation Testing</h3>
	<hr>
	<div class="form-group">
		<form action="/pair_trade_probation_test" id="buy" method="POST">
			<p>Start Date <input type = "text" name = "Start Date" placeholder="yyyy-mm-dd"></p>
			<p>End Date <input type = "text" name = "End Date" placeholder="yyyy-mm-dd"></p>
			<p><input type = "submit" value = "submit" /></p>
		</form>
    </div>
</main>
{% endblock %}