{% extends "base.html" %}
{% block content %}

<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/ai_build_model">Building Model</a>
        </li>
		<li class="nav-item">
            <a class="nav-link" href="/ai_back_test">Back Testing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/ai_probation_test">Probation Testing</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
    <h3><strong>Best GA Portfolio Probation Test</strong></h3>
    <div class="form-group">
        <form action="/ai_probation_test" id="ai_probationtest" method="POST">
            <table>
                <tr>
                    <td><p style="width: 500px; text-align: center;">Probtest period start date:</p></td>
                    <td><input type="date" name="probation_start_date" value={{ probation_start_date }} style="width: 200px;" required="required"></td>
                </tr>
                <tr>
                    <td><p style="width: 500px; text-align: center;">Probtest period end date:</p></td>
                    <td><input type="date" name="probation_end_date" value={{ probation_end_date }} style="width: 200px;" required="required"></td>
                </tr>
                
            </table>
            <div style="height:100px; justify-content: center; margin-top: 5em;"><input style="margin-left: auto; margin-right: auto;" type="submit" value="submit"/></div>
        </form>
    </div>
        <p>Probtest period start date: {{ probation_start_date }}</p>
        <p>Probtest period end date: {{ probation_end_date }}</p>
    </div>

    
		<h5 style="text-align:center"> Best Portfolio Profit/Loss:   ==>  {{ portfolio_profit }} %</h5>
		<h5 style="text-align:center"> Market Profit/Loss:   ==>  {{ spy_profit }} %</h5>
		<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="text-align:center">Symbol</th>
					<th style="text-align:center">Name</th>
					<th style="text-align:center">Sector</th>
					<th style="text-align:center">Weight</th>
					<th style="text-align:center">Open Date</th>
					<th style="text-align:center">Open Price</th>
					<th style="text-align:center">Close Date</th>
					<th style="text-align:center">Close Price</th>
					<th style="text-align:center">Shares</th>
					<th style="text-align:center">Profit/Loss</th>
				</tr>
			</thead>
			<tbody>
				{% for i in range(length) %}
                <tr>
					<td>{{stock_list[i].symbol}}</td>
					<td>{{stock_list[i].name}}</td>
					<td>{{stock_list[i].sector}}</td>
					<td>{{'%0.2f' % stock_list[i].category_pct|float}}</td>
                    <td>{{stock_list[i].probation_test_trade.open_date}}</td>
					<td>{{'%0.2f'| format(stock_list[i].probation_test_trade.open_price)}}</td>
					<td>{{stock_list[i].probation_test_trade.close_date}}</td>
					<td>{{'%0.2f'| format(stock_list[i].probation_test_trade.close_price)}}</td>
					<td>{{stock_list[i].probation_test_trade.shares}}</td>
					<td>{{'%0.2f'| format(stock_list[i].probation_test_trade.profit_loss)}}</td>
                </tr>
             
				{%endfor%}
            </tbody>
			<tfoot>
				<tr>
					<td style="font-weight:bold">Portfolio Profit/Loss</td>
					<td colspan="8"></td>
					<td style="font-weight:bold">{{ profit }}</td>
				</tr>
			</tfoot>
		</table>
		</div>
		<hr>
		
</main>
<br></br>
<br></br>

{% endblock %}
