{% extends "base.html" %}

{% block title %}
CDS
{% endblock %}

{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link " href="/ap_introduction">Introduction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/ap_european_pricing">European Option</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/ap_american_pricing">American Option</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/ap_fixedRateBond">Fixed Rate Bond</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active " href="/ap_CDS">Credit Default Swap</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
    <h3>CDS</h3>
    <hr>
    <div class="form-group">
        <form action="/ap_CDS" id="calculate" method="POST">
            <p style = "width:500px;" align="right">Notional value:
                <input type = "text" value = {{input["notional"]}} name = "Notional" style = "width:200px;"></p>
            <p style = "width:500px;" align="right">Spread (in basis point) :
                <input type = "text" value = {{input["spread"]}} name = "Spread" style = "width:200px;"> </p>
            <p style = "width:500px;" align="right">Recovery rate (in decimal):
                <input type = "text" value = {{input["recovery_rate"]}} name = "Recovery Rate" style = "width:200px;"></p>
            <p style = "width:500px;" align="right">Hazard rate (in decimal):
                <input type = "text" value = {{input["hazard_rate"]}} name = "Hazard Rate" style = "width:200px;"></p>
            <p style = "width:500px;" align="right">Risk-free rate (in decimal):
                <input type = "text" value = {{input["discount_rate"]}} name = "Discount Rate" style = "width:200px;"></p>
            <p style = "width:500px;" align="right">Issue Date:
                <input type = "date" value = {{input["issue_date"]}} name = "Issue Date" min = "2010-01-01" style = "width:200px;"></p>
            <p style = "width:500px;" align="right">Maturity Date:
                <input type = "date" value = {{input["maturity_date"]}} name = "Maturity Date" min = "2010-01-01" style = "width:200px;"></p>
            <p style = "width:500px;" align="right">Frequency: <select name = "Frequency" action = '/' style = "width:200px;">
                {%for frequency in frequency_list%}
                <option value = "{{frequency}}" selected>{{frequency}}</option>>
                {% endfor %}
            </select></p>
            <p style = "height:100px;"><input type = "submit" value = "calculate" /></p>
        </form>
    </div>

    <h3>Result</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="text-align:center">Side</th>
                <th style="text-align:center">Fair Spread</th>
                <th style="text-align:center">NPV</th>
                <th style="text-align:center">Default Leg</th>
                <th style="text-align:center">Coupon Leg</th>
                <th style="text-align:center">Payment Frequency</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>seller</td>
                <td>{{seller_result["fair spread"]}}</td>
                <td>{{seller_result["NPV"]}}</td>
                <td>{{seller_result["default leg"]}}</td>
                <td>{{seller_result["coupon leg"]}}</td>
                <td>{{input["frequency"]}}</td>
            </tr>
            <tr>
                <td>buyer</td>
                <td>{{buyer_result["fair spread"]}}</td>
                <td>{{buyer_result["NPV"]}}</td>
                <td>{{buyer_result["default leg"]}}</td>
                <td>{{buyer_result["coupon leg"]}}</td>
                <td>{{input["frequency"]}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock %}