{% extends "base.html" %}
{% block title %}
btc_build
{% endblock %}
{% block content %}

<style>
    .label{
        width: 1600px;
        height: 500px;
        margin: 120px auto;
        text-align: center;
    }
    .label>ul{
        width: 1600px;
        height: 50px;
    }
    .label>ul>li{
        list-style: none;
        float: left;
        width: 400px;
        height: 50px;
        background-color: white;
        line-height: 50px;
        color: black;
    }
    .label>div{
        width: 1600px;
        height: 500px;
        position: absolute;
        color: black;
        line-height: 70px;
        display: none;
    }
    .label li.showed{
        background-color: white;
        border-top: 5px solid blueviolet;
        line-height: 40px;
    }
    .label div.showed{
        display: block;
    }
</style>

<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active " href="/btc_introduction">Introduction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/btc_build/gate">Build Algorithm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/btc_backtest">Back Test</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
    <h3><strong>Build Your Algorithm</strong></h3>
    <div class="label">
        <ul style="padding-left: 0px; margin-bottom: 0px; margin-top: 0px">
            <li class="showed">Trend</li>
            <li>Momentum</li>
            <li>AI</li>
            <li>Combination</li>
        </ul>
        <div class="showed">
            <form>
                this is a form
            </form>
        </div>
        <div>second section</div>
        <div>third section</div>
        <div>fourth section</div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script>
            $(".label li").mouseenter(function () {
                if(! $(this).hasClass(".showed")){
                    $(".showed").removeClass("showed");
                    $(this).addClass("showed");
                    $(".label>div").eq($(this).index()).addClass("showed");
            }
        })
    </script>
</main>
<br></br>
<br></br>

{% endblock %}
<br></br>
