{% extends "base.html" %}

{% block title %}
FixedRateBond
{% endblock %}

{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link " href="/European_pricing">European Option</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/American_pricing">American Option</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active " href="/FixedRateBond">Fixed Rate Bond</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/CDS">Credit Default Swap</a>
    </li>
  </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
  <h3>Bond Parameters</h3>
  <hr>
  <div class="form-group">
    <form action="/FixedRateBond" id="calculate" method="POST">
      <p style = "width:500px;" align="right">Face value: <input type = "text" name = "Face Value" style = "width:200px;"></p>
      <p style = "width:500px;" align="right">Coupon rate: <input type = "text" name = "Coupon Rate" style = "width:200px;"></p>
      <p style = "width:500px;" align="right">Discount rate: <input type = "text" name = "Discount Rate" style = "width:200px;"></p>
      <p style = "width:500px;" align="right">Valuation Date: <input type = "date" name = "Valuation Date" min = "2010-01-01" style = "width:200px;"></p>
      <p style = "width:500px;" align="right">Issue Date: <input type = "date" name = "Issue Date" min = "2010-01-01" style = "width:200px;"></p>
      <p style = "width:500px;" align="right">Maturity Date: <input type = "date" name = "Maturity Date" min = "2010-01-01" style = "width:200px;"></p>
      <p style = "width:500px;" align="right">Frequency: <select name = "Frequency" action = '/' style = "width:200px;">
        {%for frequency in frequency_list%}
        <option value = "{{frequency}}" selected>{{frequency}}</option>>
        {% endfor %}
      </select></p>
      <p style = "height:100px;"><input type = "submit" value = "calculate" /></p>
    </form>
  </div>

  <h3>Result</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th style="text-align:center">Clean Price</th>
        <th style="text-align:center">Dirty Price</th>
        <th style="text-align:center">Accrued Amount</th>
        <th style="text-align:center">Bond Yield</th>
        <th style="text-align:center">Previous Coupon Rate</th>
        <th style="text-align:center">Next Coupon Rate</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>{{bond_result["cleanPrice"]}}</td>
        <td>{{bond_result["dirtyPrice"]}}</td>
        <td>{{bond_result["accruedAmount"]}}</td>
        <td>{{bond_result["bondYield"]}}</td>
        <td>{{bond_result["previousCouponRate"]}}</td>
        <td>{{bond_result["nextCouponRate"]}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
{% endblock %}