{% extends "base.html" %}
{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/hf_trading">Introduction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/hf_cleaning_data" style="pointer-events: none; color: gray">Data Cleaning</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/hf_trading_engine">Trading Engine</a>
        </li>
    </ul>
</nav>



<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
    <h3><strong>HFT</strong></h3>
	<div align="center">
		<table cellspacing="0" cellpadding="0" border="0" style="font-family:Georgia, Garamond, Serif;">
			<tbody>
				<tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
				<tr>
					<td width="881" valign="top">
						<p>
							This is a HFT system where users could test order imbalance strategy.<br>
						</p>
					</td>
				</tr>


				<tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
					<th width="881" valign="top">
						<strong>Cleaning Data From DataBase</strong>
					</th>
				</tr>

				<tr>
					<td width="881" valign="top">
						<p>
							1) Auto merge the quote data
						</p>
					</td>
				</tr>

								<tr>
					<td width="881" valign="top">
						<p>
							2) Create the label data, y defined as the average mid-price change with forecast window k = 20, responsible variables as lagged order imbalance.
						</p>
					</td>
				</tr>

				<tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
					<th width="881" valign="top">
						<strong>Linear regression methodology</strong>
					</th>
				</tr>

                <tr>
					<td width="881" valign="top">
						<p>
							1) regress average mid-price change with forecast window k = 10 on the six lagged order imbalance
						</p>
					</td>
				</tr>

				<tr>
					<td width="881" valign="top">
						<p>
							2) Calculate Average coeffcient, Percent positive, Percent positive and signiﬁcant and Percent negative and signiﬁcant
						</p>
					</td>
				</tr>


                <tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
					<th width="881" valign="top">
						<strong>Backtest the strategy
					</th>
				</tr>

                <tr>
					<td width="881" valign="top">
						<p>
							1) Create long position if forecasted average mid-price change is greater than 0
						</p>
					</td>
				</tr>

				<tr>
					<td width="881" valign="top">
						<p>
							2) Close the position if the loss is larger than threshold or profit is greater than 0
						</p>
					</td>
				</tr>

                <tr>
					<td width="881" valign="top">
						<p>
							3) We only create the position when there is no any opening position
						</p>
					</td>
				</tr>


				<tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
					<th width="881" valign="top">
						<strong>Reference</strong>
					</th>
				</tr>

                <tr>
					<td width="881" valign="top">
						<p>
							1) XU, JIANGMIN. Optimal Strategies of High Frequency Traders.
						</p>
					</td>
				</tr>

				<tr>
					<td width="881" valign="top">
						<p>
							2) Shen, Darryl. Order Imbalance Based Strategy in High Frequency Trading.
						</p>
					</td>
				</tr>




			</tbody>
		</table>
	</div>

</main>
<br></br>
<br></br>


{% endblock %}