{% extends "base.html" %}

{% block title %}
    Retrieve Stock
{% endblock %}

{% block content %}

<head>
	<title>Retrieve Daily Price Data for a SP500 Stock</title>
</head>

<body>
	<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
		<ul class="nav nav-pills flex-column">
			<li class="nav-item">
				<a class="nav-link" href="/md_sp500">SP500 Index Components</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/md_sp500_sectors">SP500 Sectors</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/md_spy">SPY Daily Prices</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/md_us10y">10 Year Treasury Yields</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/md_stocks">Stock Daily Prices</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/md_fundamentals">Stock Fundamentals</a>
			</li>
			<li class="nav-item">
            	<a class="nav-link" href="/md_update_data">Update Market Data (takes 1 min)</a>
        	</li>
		</ul>
	</nav>
	
	<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
		<h3>Retrieve Daily Price Data for a SP500 Stock</h3>
		<div class="form-stock">
			<form action="/md_stocks" id="md_stocks" method="post">
				<input id="symbol" name="symbol" placeholder="Symbol" type="text"/>
				<input id="start_date" name="start_date" placeholder="yyyy-mm-dd" type="date"/>
				<input id="end_date" name="end_date" placeholder="yyyy-mm-dd" type="date"/>
				<input type="submit" value="Get Stock"/>
			</form>
		</div>
	</main>
		
</body>

{%endblock%}