{% extends "base.html" %}
{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/md_sp500">SP500 Index Components</a>
        </li>
		<li class="nav-item">
            <a class="nav-link active" href="/md_sp500_sectors">SP500 Sectors</a>
        </li>
		<li class="nav-item">
            <a class="nav-link" href="/md_spy">SPY Daily Prices</a>
        </li>
		<li class="nav-item">
            <a class="nav-link" href="/md_us10y">10 Year Treasury Yields</a>
        </li>
		<li class="nav-item">
            <a class="nav-link" href="/md_stocks">Stock Daily Prices</a>
        </li>
		<li class="nav-item">
            <a class="nav-link" href="/md_fundamentals">Stock Fundamentals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/md_update_data">Update Market Data (takes 1 min)</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
    <h3>SP500 Index Sectors</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="text-align:left">Sector</th>
                <th style="text-align:left">Equity %</th>
                <th style="text-align:left">Category %</th>
            </tr>
            </thead>
            <tbody>
            {% for sector in sector_list %}
            <tr>
                <td style="text-align:left"> {{sector.sector_name}}</td>
                <td style="text-align:left"> {{sector.equity_pct}}</td>
                <td style="text-align:left"> {{sector.category_pct}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}