{% extends "base.html" %}
{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/pair_trade_build_model_param">Building Model</a>
        </li>
		<li class="nav-item">
            <a class="nav-link" href="/pair_trade_back_test">Back Testing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pair_trade_probation_test">Probation Testing</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
    <h3>Building Model for Pair Trading</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="text-align:center">Symbol1</th>
                <th style="text-align:center">Symbol2</th>
				<th style="text-align:center">Mean</th>
                <th style="text-align:center">Volatility</th>
            </tr>
            </thead>
            <tbody>
            {% for pair in pair_list %}
            <tr>
                <td> {{pair.symbol1}}</td>
                <td> {{pair.symbol2}}</td>
				<td> {{pair.price_mean}}</td>
                <td> {{pair.volatility}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}