{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link " href="/">Introduction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/quote">Stock Quote</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/buy">Buy Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sell">Sell Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/short">Short Stock</a>
        </li>
		<li class="nav-item">
            <a class="nav-link" href="/history">History</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
	<h3>Trading Portfolio</h3>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="text-align:center">Symbol</th>
					<th style="text-align:center">Company Name</th>
					<th style="text-align:center">Shares</th>
					<th style="text-align:center">Price</th>
                    <th style="text-align:center">AvgCost</th>
                    <th style="text-align:center">Unrealized PnL</th>
					<th style="text-align:center">Market Value</th>
                    <th style="text-align:center">Proportion</th>
				</tr>
			</thead>
			<tbody>
				{% for i in range(length) %}
                <tr>
                    <!--call the value from the dictionary-->
                    <!--the double curly parentheses are for jinja-->
                    <td>{{dict['symbol'][i]}}</td>
                    <td>{{dict['name'][i]}}</td>
                    <td>{{dict['shares'][i]}}</td>
                    <td>{{dict['price'][i]|usd}}</td>
                    <td>{{dict['avg_cost'][i]|usd}}</td>
                    <td>{{dict['pnl'][i]|usd}}</td>
                    <td>{{dict['total'][i]|usd}}</td>
                    <td>{{dict['proportion'][i]}}</td>
                </tr>
                <tr>
                    <!--;,is a place holder-->
                
                </tr>
				{%endfor%}
            
				<tr>
					<td>Cash</td>
					<td colspan="5"></td>
					<td>{{cash}}</td>
                    <td>{{cash_proportion}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6"></td>
					<td>{{ total }}</td>
				</tr>
			</tfoot>
		</table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div id="pie" d3pie="0.2.1" style="margin: auto; text-align: center;">
      <script>
        var data = {{ graph_values|safe }};
        layout = {{ layout|safe }};
        Plotly.newPlot('pie', data, layout);
      </script>
    </div>
    <div id="bar" style="margin: auto; text-align: center;">
      <script>
        var graph = {{ graphJSON|safe }};
        Plotly.newPlot('bar', graph.data, graph.layout);
      </script>
    </div>
</main>
{% endblock %}