{% extends "base.html" %}

{% block title %}
Introduction
{% endblock %}

{% block content %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        // inlineMath: [ ['$','$'], ["\(","\)"] ],
        inlineMath: [ ['$','$'], ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
<script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono">

<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/Predict_based_optmize">Introduction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/PB_Opt_date_choose">Choose End Date</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/PB_Opt_backtest">Back Test</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
    <h3><strong>Prediction-based Portfolio Optimization</strong></h3>
    <br>
    <div align="center">
        <table cellspacing="0" cellpadding="0" border="0" style="font-family:Georgia, Garamond, Serif;">
            <tbody>
            <tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
            <tr>
                <td width="881" valign="top">
                    <p>
                        The core theory of this portfolio optimization strategy is to find a portfolio with least portfolio risk. Following part will elaborate the mathematical theory of quantifying the portfolio risk.
                    </p>
                </td>
            </tr>
            <tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
                <th width="881" valign="top">
                    <p>
                        <strong>Mathematical Theory: </strong>
                    </p>
                </th>
            </tr>
            <tr>
                <td width="881" valign="top">
                    </p>
                    <p> Define r_t as the stock return at time t, $\hat{r_t}$ as the predicted stock return at time t, $\varepsilon_t$ as the prediction error at time t. Therefore:</p>
                    <p> $$r_t = \hat{r_t} + \varepsilon_t$$ </p>
                    <p> This portfolio will include 22 stocks (2 stocks from each of the eleven sectors of S&P 500). The expected return of the whole portfolio, $\hat{r_p}$ is </p>
                    <p> $$\hat{r_p} = \sum^{22}_{i=1} \frac{1}{22} \hat{r_i}$$ </p>
                    <p> Model the portfolio risk as the variance of joint normal distribution of the linear combination of the participations and prediction errors of the stocks of the portfolio</p>
                    <p> $$\hat{V} = \sum^{22}_{i=1} \sum^{22}_{j=1} \frac{1}{22} \frac{1}{22} \gamma_{\varepsilon_{ij}}$$ </p>
                    <p> where $\gamma_{\varepsilon_{ij}}$ is the covariance of the errors of the prediction of stocks i and j</p>
                    <p> The variance can also be written as </p>
                    <p> $$\hat{V} = \sum^{22}_{i=1} (\frac{1}{22})^2 \sigma_{\varepsilon_{i}}^2 + \sum^{22}_{i=1} \sum^{22}_{j=1 \\ j\neq i} (\frac{1}{22})^2 \gamma_{\varepsilon_{ij}}$$</p>
                    <p> In order to get this minimum portfolio risk, we have to calculate the variance of individual stock, $\hat{V}_{stock}$, and choose the top 2 least variance stocks in each of the 11 sectors to make the portfolio</p>
                    <p> $$\hat{V}_{stock} = \sigma_{\varepsilon_{p}}^2 + \sum^{N}_{p=1} \sum^{N}_{q=1 \\ q\neq p}\gamma_{\varepsilon_{pq}}$$ </p>
                    <p> where p and q are random stocks in the sector of chosen stock, and N is the number of stock in this sector</p>
                </td>
            </tr>
            <tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
                <th width="881" valign="top">
                    <p>
                        <strong>Stacked LSTM Model: </strong>
                    </p>
                </th>
            </tr>
            <tr>
                <td width="881" valign="top">
                    <p> Apart from normal LSTM model, this strategy uses a stack LSTM model, an extension to the original LSTM model that has multiple hidden LSTM layers where each layer contains multiple memory cells.</p>
                    <p> The data used to build this portfolio is the adjusted close price of stocks from S&P 500 pool, and the time range is 10 years. Default time range is from 01/01/2010 to 01/01/2020.  </p>
                    <p> Choose the top 2 least variance stocks to build the equal-weighted portfolio</p>
                </td>
            </tr>
            <tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
                <th width="881" valign="top">
                    <p>
                        <strong>Back Testing: </strong>
                    </p>
                </th>
            </tr>
            <tr>
                <td width="881" valign="top">
                    <p> Back test period is three months from today.
                    </p>
                    <p> The performance of portfolio is compared to that of S&P 500 ETF, and the performance is based on the cumulative daily log return. Because there are 22 stocks in the portfolio, the cumulative daily log return of the portfolio will be divided by 22 when compared to the benchmark.<p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
</main>
<br></br>
<br></br>

{% endblock %}
