{%extends"base.html" %}

{%block title%}
    Risk Management
{%endblock%}

{%block content%}
<head>
    <link href="/static/styles.css" rel="stylesheet">
</head>


<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link " href="/">Introduction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/quote">Stock Quote</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/buy">Buy Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sell">Sell Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/short">Short Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/history">History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/risk_management">Risk Management</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
    <div class="form-group">
        <form action="/risk_management" id="VaR" method="post">

        <!-- Set VaR threshold for the portfolio -->
        <h3>Portfolio Risk Threshold</h3>
            <p style = "width:500px;" align="right">Confidence Level (%)
                <input id="confidence_threshold" name="confidence_threshold" value={{threshold['confidence_threshold']}} type="text" size="32"/>
            </p>
            <p style = "width:500px;" align="right">Period (days)
                <input id="period_threshold" name="period_threshold" value={{threshold['period_threshold']}} type="text" size="32"/>
            </p>
            <p style = "width:500px;" align="right">VaR Threshold (%)
                <input id="var_threshold" name="var_threshold" value={{threshold['var_threshold']}} type="text" size="32"/>
            </p>

        <!-- Rectangular switch -->
        {% if threshold["enable_threshold"] == None %}
        <label class="switch">
          <input type="checkbox" name="enable_threshold">
          <span class="slider"></span>
        </label>
        {% else %}
        <label class="switch">
            <input type="checkbox" name="enable_threshold" checked>
          <span class="slider"></span>
        </label>
        {% endif %}
        <p><input type="submit" value="Enable/Disable Threshold"/></p>


        <h3>Value At Risk Calculator</h3>
        <p style = "width:500px;" align="right">Select method:
            <select name="VaR_methods" id="VaR_methods">
            <option value="hist_sim">Historical Simulation</option>
            <option value="garch">GARCH</option>
            <option value="EVT">Extreme Value Method</option>
            <option value="caviar_sav">CaViaR - Symmetric Absolute Value</option>
            <option value="caviar_as">CaViaR - Asymmetric Slope</option>
        </select></p>
            <p style = "width:500px;" align="right">Confidence Level (%) <input id="confidence_level" name="confidence_level" value={{params['confidence_level']}} type="text" size="32"/></p>
            <p style = "width:500px;" align="right">Period (days) <input id="period" name="period" value={{params['period']}} type="text" size="32"/></p>
            <input type="submit" value="Calculate"/>
        </form>
    </div>

    <h3>Result</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="text-align:center"></th>
                <th style="text-align:center">Value at Risk</th>
                <th style="text-align:center">Expected Loss</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Manual Trading Portfolio</td>
                <td>{{result["var"]}} %</td>
                <td>{{result["es"]}} %</td>
            </tr>

            </tbody>
        </table>
    </div>

    <h3>Portfolio Return & VaR Plot</h3>
    <img src="/plot/var" alt="Image Placeholder" width="50%">

</main>

{%endblock%}
