{% extends "base.html" %}

{% block title %}
    Short
{% endblock %}

{% block content %}
        <script>
            $(document).ready(function() {

                $('#short').submit(function() {

                    if ($('#short input[name=symbol]').val() == '')
                    {
                        alert('Missing symbol');
                        return false;
                    }
                    else if ($('#short input[name=shares]').val() == '')
                    {
                        alert('Missing shares');
                        return false;
                    }
                    else if (isNaN($('#short input[name=shares]').val()))
                    {
                        alert('Shares must be a number');
                        return false;
                    }
                    // the input data type is text, but how to fix this?
                    else if (+$('#short input[name=shares]').val() != parseInt($('#short input[name=shares]').val()))
                    {
                        alert('Shares must be an integer');
                        return false;
                    }
                    else if ($('#short input[name=shares]').val()<=0)
                    {
                        alert('Shares must be positive');
                        return false;
                    }
                    return true;

                });

            });

        </script>

    <body>
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/">Introduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quote">Stock Quote</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/buy">Buy Stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sell">Sell Stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/short">Short Stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history">History</a>
                </li>
            </ul>
        </nav>

		<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
			<h3>Short Stock Shares</h3>
			<div class="form-group">
				<form action="/short" id="short" method="post">
					<input id="symbol" name="symbol" placeholder="Symbol" type="text"/>
                    <input id="price" name="price" placeholder="Price" type="text"/>
					<input id="shares" name="shares" placeholder="Shares" type="text"/>
					<input type="submit" value="Short"/>
				</form>
			</div>
		</main>

    </body>
{%endblock%}