{% extends "base.html" %}
{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
		<li class="nav-item">
            <a class="nav-link" href="/sim_server_up">Launch Server</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sim_auto_trading">Auto Trading</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/sim_server_down">Stop Server</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"></a>
        </li>
        <li class="nav-item" style="border-bottom: 2px solid #D3D3D3; border-top: 2px solid #D3D3D3;">
            <a class="nav-link" href="/sim_model_info">Model Info</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
    <h3><strong>Server is down!</strong></h3>
	<hr>
</main>
{% endblock %}
