{% extends "base.html" %}
{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
		<li class="nav-item">
            <a class="nav-link" href="/sim_server_up">Launch Server</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sim_choose_strat">Choose Strategy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sim_server_down">Stop Server</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"></a>
        </li>
        <li class="nav-item" style="border-bottom: 2px solid #D3D3D3; border-top: 2px solid #D3D3D3;">
            <a class="nav-link" href="/sim_model_info">Model Info</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
    <h3><strong>Auto Trading Report</strong></h3>
    <br>
    <button onclick="exportTableToCSV('AutoTradingReport.csv')" id="button-csv" style="float:left">Export to CSV</button>
    <button onclick="hideElement()" id="button-csv" style="float:left">PnL by Symbol</button>
    <div class="table-responsive" id="long-report">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="text-align:left">OrderIndex</th>
                <th style="text-align:left">Status</th>
                <th style="text-align:left">Symbol</th>
                <th style="text-align:left">Type</th>
                <th style="text-align:left">Side</th>
                <th style="text-align:left">Price</th>
                <th style="text-align:left">Qty</th>
				<th style="text-align:left">ServerOrderID</th>
            </tr>
            </thead>
            <tbody>
            {% for trade in trading_results %}
            <tr>
                <td style="text-align:left"> {{trade.OrderIndex}}</td>
                <td style="text-align:left"> {{trade.Status}}</td>
                <td style="text-align:left"> {{trade.Symbol}}</td>
                <td style="text-align:left"> {{trade.Type}}</td>
                <td style="text-align:left"> {{trade.Side}}</td>
                <td style="text-align:left"> {{trade.Price}}</td>
                <td style="text-align:left"> {{trade.Qty}}</td>
				<td style="text-align:left"> {{trade.ServerOrderID}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="text-align:center">Symbol</th>
                    <th style="text-align:center">ProfitLoss</th>
                </tr>
            </thead>
            <tbody>
            {% for key, value in pnl_results.items() %}
            <tr>
                <th style="text-align:center">{{ key }}</th>
                <td style="text-align:center">{{ value }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>

</main>
{% endblock %}