{% extends "base.html" %}
{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
		<li class="nav-item">
            <a class="nav-link" href="/sim_server_up">Launch Server</a>
        </li>
		<li class="nav-item">
            <a class="nav-link" href="/sim_choose_strat">Choose Strategy</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/sim_server_down">Stop Server</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"></a>
        </li>
        <li class="nav-item" style="border-bottom: 2px solid #D3D3D3; border-top: 2px solid #D3D3D3;">
            <a class="nav-link active" href="/sim_model_info">Model Info</a>
        </li>
    </ul>
</nav>


<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
    <h3><strong>Bollinger Bands Trading Model</strong></h3>
	<br>
	<div align="center">
		<table cellspacing="0" cellpadding="0" border="0" style="font-family:Georgia, Garamond, Serif;">
			<tbody>
				<tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
				<tr>
					<td width="881" valign="top">
						<p>
							Bollinger Bands (BBs) are a type of price envelope developed by John Bollinger.
							(Price envelopes define upper and lower price range levels.) Bollinger Bands are envelopes plotted at a standard deviation level above and below a simple moving average of the price. 
							Because the distance of the bands is based on standard deviation, they adjust to volatility swings in the underlying price.
						</p>
					</td>
				</tr>
				<tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
					<th width="881" valign="top">
						<p>
							<strong>Stock Selection</strong>
						</p>
					</th>
				</tr>
				<tr>
					<td width="881" valign="top">
						<p>
							Within S&P500 component pool, select 4 stocks with highest 1-minute volatility over the last month of the historical data part.
						</p>
					</td>
				</tr>
				<tr>
					<td width="881" valign="top">
						<p>
							Reason: 
                            1.	S&P 500 components are with large size, high liquidity.
                            2.	The volatility among minutes for one-month intraday price data are checked for generating trading signals)
                            3.	Higher volatility may trigger signals more often, more signals can lead better test the efficacy of trading model (i.e. training params)

						</p>
					</td>
				</tr>
				<tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
					<th width="881" valign="top">
						<p>
							<strong>Bollinger Bands Trading Logic</strong>
						</p>
					</th>
				</tr>
				<tr>
					<td width="881" valign="top">
						<p>
							1) The H-period simple moving average (SMA). This serves as both the center of the BBs, and the baseline for determining the location of the two bands.
						</p>
					</td>
				</tr>
				<tr>
					<td width="881" valign="top">
						<p>
							2) Up : The upper band line that is k1 (default is 2) standard deviation from the H-minute SMA
						</p>
					</td>
				</tr>
				<tr>
					<td width="881" valign="top">
						<p>
							3) Down : The lower band line that is k1 standard deviation from the H-period SMA
						</p>
					</td>
				</tr>
				<tr>
					<td width="881" valign="top">
						<p>
							4) Open Trades:
								<br>&nbsp;&nbsp;&nbsp;&nbsp;• Open short position if Close Price >= Up, sell the stock
								<br>&nbsp;&nbsp;&nbsp;&nbsp;• Open long position if Close Price <= Down, buy the stock
						</p>
					</td>
				</tr>
				<td width="881" valign="top">
						<p>
							5) Close Trades:
								<br>&nbsp;&nbsp;&nbsp;&nbsp;• Close the open positions when Close Price return within Up and Down </br>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
	
		<p>
			<i>Reference:</i> Zicheng He, Capstone Project Report, Fall 2020
		</p>
	</div>

	<h3><strong>Relative Strength Index Momentum Trading Model</strong></h3>
	<br>
	<div align="center">
		<table cellspacing="0" cellpadding="0" border="0" style="font-family:Georgia, Garamond, Serif;">
			<tbody>
				<tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
				<tr>
					<td width="881" valign="top">
						<p>
							Relative Strength Index (RSIs) are a type of momentum oscillator developed in 1978.
							The RSI provides insight on the bullish or bearish price momentum by indicating whether an asset is overbought or oversold. 
							RSI oscillate between 0 and 100, traditional interpretation is when RSI are above 70, the asset is becoming overbought or overvalued,
							and when RSI is below 30, the asset is oversold or undervalued. 
						</p>
					</td>
				</tr>
				<tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
					<th width="881" valign="top">
						<p>
							<strong>Stock Selection</strong>
						</p>
					</th>
				</tr>
				<tr>
					<td width="881" valign="top">
						<p>
							Within S&P500 component pool, select 4 stocks with highest 1-minute volatility over the last month of the historical data part.
						</p>
					</td>
				</tr>
				<tr>
					<td width="881" valign="top">
						<p>
							Reason: 
                            1.	S&P 500 components are with large size, high liquidity.
                            2.	The volatility among minutes for one-month intraday price data are checked for generating trading signals)
                            3.	Higher volatility may trigger signals more often, more signals can lead better test the efficacy of trading model (i.e. training params)

						</p>
					</td>
				</tr>
				<tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
					<th width="881" valign="top">
						<p>
							<strong>Relative Strength Index Momentum Trading Logic</strong>
						</p>
					</th>
				</tr>
				<tr>
					<td width="881" valign="top">
						<p>
							1) The H-period relative strength (RS). The relative strength is the average of H-period positive gain divide by H-period negative gain.
						</p>
					</td>
				</tr>
				<tr>
					<td width="881" valign="top">
						<p>
							2) Relative strength index (RSI) : RSI can be calculated by 100 - 100/(1+RS). In this strategy, we denote RSI as current period relative strength index.
							Prev_RSI as the previous period relative strength index.
						</p>
					</td>
				</tr>
				<tr>
					<td width="881" valign="top">
						<p>
							3) Centerline, Upper and Lower Bound : The centerline for RSI is 50, and the default upper bound is 70, default lower bound is 30.
						</p>
					</td>
				</tr>
				<tr>
					<td width="881" valign="top">
						<p>
							4) Open Trades:
								<br>&nbsp;&nbsp;&nbsp;&nbsp;• Open long position if Current RSI > Centerline and Prev_RSI < Centerline, buy the stock
								<br>&nbsp;&nbsp;&nbsp;&nbsp;• Open short position if Current RSI < Centerline and Prev_RSI > Centerline Centerline, short the stock
						</p>
					</td>
				</tr>
				<td width="881" valign="top">
						<p>
							5) Close Trades:
								<br>&nbsp;&nbsp;&nbsp;&nbsp;• Close the open long positions when Current RSI < Upper and Prev_RSI > Upper
								<br>&nbsp;&nbsp;&nbsp;&nbsp;• Or Close the open long positions when Current RSI < Centerline
								<br>&nbsp;&nbsp;&nbsp;&nbsp;• Close the open short positions when Current RSI > Lower and Prev_RSI < Lower
								<br>&nbsp;&nbsp;&nbsp;&nbsp;• Or Close the open short positions when Current RSI > Centerline
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
	
		<p>
			<i>Reference:</i> Kim Zhang, Capstone Project Report, Fall 2021
		</p>
	</div>

</main>
<br></br>
<br></br>

{% endblock %}
  </body>
</html>
