{% extends "base.html" %}

{% block title %}
stockselect_build_model
{% endblock %}

{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link " href="/stockselect_introduction">Introduction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/stockselect_build">Stock Select</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/stockselect_back_test">Back Test</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
	<h3>Top stocks selected</h3>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="text-align:center">Sector</th>
					<th style="text-align:center">Stock</th>
					<th style="text-align:center">Predicted Sharpe Ratio</th>
				</tr>
			</thead>
			<tbody>
                {% for i in range(length) %}
				<tr>
					<td>{{top_stocks[i][0]}}</td>
					<td>{{top_stocks[i][1]}}</td>
					<td>{{top_stocks[i][2]}}</td>
				</tr>
                {%endfor%}
			</tbody>
		</table>
    </div>

</main>
<br></br>
<br></br>

{% endblock %}