{#{% extends "base.html" %}#}
{##}
{#{% block title %}#}
{#stockselect_introduction#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">#}
{#    <ul class="nav nav-pills flex-column">#}
{#        <li class="nav-item">#}
{#            <a class="nav-link active" href="/stockselect_introduction">Introduction</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="/stockselect_build">Build Portfolio</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="/stockselect_back_test">Back Testing</a>#}
{#        </li>#}
{#    </ul>#}
{#</nav>#}
{##}
{#<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">#}
{#    <h3><strong>Equal-weighted Portfolio Back Test</strong></h3>#}
{#		<h5 style="text-align:center"> Top Stocks Cumulative Return:   ==>  {{ cum_return[1] }} %</h5>#}
{#		<h5 style="text-align:center"> Market Cumulative Return:   ==>  {{ cum_return[0] }} %</h5>#}
{#        <hr>#}
{#		<img align="center" src="/plot/stockselect_back_test_plot" alt="Image Placeholder" width="50%">#}
{#		<hr>#}
{#        <p></p>#}
{##}
{#</main>#}
{#<br></br>#}
{#<br></br>#}
{##}
{#{% endblock %}#}