{% extends "base.html" %}

{% block title %}
Twitter Sentiment Analysis: Introduction
{% endblock %}


{% block content %}
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item" >
            <a class="nav-link active" href="/tsa_introduction" style="background-color:rgb(19, 128, 92);">Introduction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tsa_builder">Model Builder</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tsa_viewer">Viewer</a>
        </li>
    </ul>
</nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-5">
    <h3><strong>Twitter Data Sentiment Analysis Project Introduction</strong></h3>
    <br>
    <div align="center">
        <table cellspacing="0" cellpadding="0" border="0" style="font-family:Georgia, Garamond, Serif;">
            <tbody>
            <tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
            <tr>
                <td width="881" valign="top">
                    <p>
                        This is a placehoder fro introducing this module.
                    </p>
                </td>
            </tr>
            <tr style="font-variant:small-caps;font-style:normal;color:black;font-size:20px;">
                <th width="881" valign="top">
                    <p>
                        <strong>Title 1: </strong>
                    </p>
                </th>
            </tr>
            <tr>
                <td width="881" valign="top">
                    <p> Calculate European option value and greeks using analytic(Black Scholes) pricing engine, and
                        display graph of y-variable with respect to change in x-variable while holding other variables constant</p>
                    <p> Note: </p>
                    <p> 1) Assume constant risk free rate, dividend rate and volatility </p>
                    <p> 2) Follow Actual/Actual day convention </p>
                    <p> 3) Using NYSE calendar to determine trading day</p>
                    <p> Input Parameter Definition: </p>
                    <p> Spot Price: Current price of the underlying assets</p>
                    <p> Strike Price: The set price at which the underlying assets can be bought or sold when option is exercised</p>
                    <p> Day to Expiration: Number of days until the last day that the option is valid</p>
                    <p> Risk Free Rate: The current risk-free rate or the rate to discount future cash flow</p>
                    <p> Dividend Rate: Dollar dividend divided by underlying asset price</p>
                    <p> Volatility: Estimate of the future volatility for the underlying asset </p>
                    <p> X-axis Parameter: Parameter to display at X-axis</p>
                    <p> git blablabla </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
</main>
<br></br>
<br></br>

{% endblock %}
<br></br>
